/* FONTS */
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

/* ROOT */
:root {
  --main-color-f: #fff;
  --main-color-s: #000;
  --main-color-t: #003deb;
  --second-color: #2ad59f;
  --second-color-2: #e7e8ec;
  --second-color-3: #828282;
  --back-modal: #f7f7f7;
  --border-tabs: #999;
  --back-tabs: #fbfbfb;
  --hover-color: #000000cf;
  --hover-color-2: #262626cf;
  --shadow-color: #00000025;
  --separator: #dce1e6;
}

/* STANDART STYLES */

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.2;
  font-size: 16px;
}

button {
  font-family: "Montserrat", sans-serif;
}

.text_small {
  font-size: 0.825rem;
}

.title_small {
  font-size: 1.125rem;
}

.title_middle {
  font-size: 1.25rem;
}

.title_big {
  font-size: 1.5rem;
}

.title_biggest {
  font-size: 2.5rem;
}

.text_aver {
  font-weight: 500;
}

.text_midi {
  font-weight: 600;
}

.text_bold {
  font-weight: 700;
}

/* STANDART BLOCK'S STYLES*/
.flex {
  display: flex;
}

.flex-cen {
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.section {
  width: 100%;
  display: flex;
  justify-content: center;
}

.section_top {
  padding-top: 80px;
}

.section_mini-top {
  padding-top: 30px;
}

.container {
  max-width: 1300px;
  width: 100%;
  padding: 0 100px;
}

/* MENU */
.section_menu {
  position: fixed;
  z-index: 100;
  height: 60px;
  background: var(--main-color-s);
}

.menu {
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.menu li:last-child {
  position: relative;
}

.menu__link {
  color: var(--main-color-f);
  background: var(--main-color-s);
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1.5px;
  transition: background-size 0.3s;
  padding-bottom: 4px;
}

.menu__link_r {
  margin-right: 20px;
}

.menu__link:hover,
.menu__link:focus {
  background-size: 100% 1.5px;
}

.menu__arrow {
  width: 13px;
  height: 13px;
  object-fit: cover;
  transition: 0.3s;
}

.rotate {
  transform: rotate(180deg);
  transition: 0.3s;
}

/* DROPDOWN MENU LOGIN */
.drop-menu {
  position: absolute;
  top: 48px;
  right: -5px;
  z-index: 10000;
  transition: 0.2s;
}

/* SEARCH */
.form-search {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}

.input-search {
  width: 92%;
  padding: 0px 0px 0px 12px;
  line-height: 2;
  border: 1px solid var(--second-color-2);
  height: 34px;
  border-right: 0;
  border-radius: 4px 0 0 4px;
  transition: 0.3s;
}

.input-search:hover {
  border: 1px solid var(--border-tabs);
}

.input-search:focus {
  border: 1px solid var(--main-color-s);
  border-right: 0;
}

/* ALL BUTTON */
.btn {
  border: 0;
  padding: 9px 20px;
  background: var(--main-color-s);
  color: var(--main-color-f);
  border-radius: 8px;
  transition: 0.1s;
}

.btn:hover {
  font-weight: 600;
  transition: 0.1s;
}

.btn-search {
  width: 8%;
  background: var(--main-color-s);
  border-radius: 0 4px 4px 0;
  border: 1px solid var(--main-color-s);
  height: 34px;
  transition: 0.3s;
}

.btn:hover {
  background: var(--main-color-t);
}

.btn-search img {
  width: 21px;
  height: 21px;
  object-fit: cover;
}

.btn_menu {
  color: var(--main-color-f);
  background: var(--main-color-s);
  padding: 12px 12px 14px 12px;
  z-index: 12;
  cursor: pointer;
  transition: 0.1s;
}

.btn_menu:hover {
  background: var(--hover-color);
  font-weight: 600;
}

.btn_menu-last {
  width: 230px;
  padding: 9px 5px 9px 20px;
  text-align: end;
  font-weight: 500;
}

.btn_menu-last:hover {
  background: var(--main-color-s);
  font-weight: 700;
}

.btn_exit {
  border-radius: 0 0 5px 5px;
}

.btn_menu__img {
  width: 20px;
  height: 20px;
  object-fit: cover;
  margin-right: 7px;
}

.btn_hash {
  margin-right: 20px;
}

.btn_more {
  width: 100%;
  margin-bottom: 10px;
}

.btn_close {
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
}

.btn_close img {
  width: 16px;
  height: 16px;
}

.btn_add-place {
  transition: 0.3s;
  height: 42px;
  background: var(--back-modal);
  color: var(--main-color-s);
}

.btn_add-place span {
  margin-right: 5px;
}

.btn_add-place:hover {
  background: var(--main-color-s);
  color: var(--main-color-f);
  transition: 0.3s;
  border-radius: 8px;
}

.btn_add {
  margin-bottom: 30px;
  padding: 10px 50px;
  border-radius: 24px;
}

.swap-search {
  margin-bottom: 30px;
}

/* CARDS */
.cards-wrapper,
.upload-img__container {
  flex-wrap: wrap;
}

.card {
  box-shadow: 0px 4px 10px var(--shadow-color);
  width: 23.636%;
  margin: 0 1.818% 30px 0;
  border-radius: 10px;
  padding-bottom: 15px;
  transition: 0.2s;
}

.card:nth-child(4n) {
  margin-right: 0px;
}

.card__img {
  width: 100%;
  height: 180px;
  margin-bottom: 10px;
  border-radius: 8px 8px 0 0;
}

.card__content {
  padding: 0 10px 0 15px;
}

.card__title {
  margin-bottom: 10px;
  margin-bottom: 10px;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card__descr {
  margin-bottom: 15px;
  -webkit-line-clamp: 5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 75px;
}

.hashtag {
  padding-left: 5px;
  color: #787777;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.hashtag_midi {
  font-size: 0.925rem;
}

/* TABS INITIAL STYLE  */
#tabs {
  margin: 10px 0;
}

.tabs-nav {
  overflow: hidden;
}

.tabs-nav li {
  padding: 0;
  list-style: none;
}

.tabs-nav a {
  display: block;
  padding: 10px 20px;
  background: var(--back-tabs);
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  color: var(--border-tabs);
}

.tabs-nav li:first-child a {
  border-radius: 5px 0 0 0;
}

.tabs-nav li:last-child a {
  border-radius: 0 5px 0 0;
}

.tabs-nav a.active {
  border-bottom: 1px solid var(--main-color-f);
  background: var(--main-color-f);
  color: var(--main-color-s);
  font-weight: 500;
}

.tabs-items {
  border-radius: 0px 0px 16px 16px;
  margin: -1px 0 0 0;
}

.tabs-item {
}

/* REGISTER & LOGIN & MODAL WINDOW */
.modal-wrap {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: none;
  z-index: 100;
  background: #00000060;
}

.modal__title {
  text-align: center;
}

.modal-window {
  position: relative;
  width: 40%;
  padding: 50px 50px 30px 50px;
  background: var(--main-color-f);
  border-radius: 16px;
  -webkit-filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.1));
  filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.2));
}

.modal-window_acc {
  display: none;
}

.display-flex {
  display: flex;
}

.display-none {
  display: none;
}

.tabs-nav_acc {
}

.tab-nav_acc {
  width: 50%;
}

.tabs_acc {
  width: 100%;
  height: 100%;
}

.tabs-items_acc {
}

li.tab-nav_acc:first-child a {
  border-radius: 16px 0 0 0;
}

li .tab-nav_acc:last-child a {
  border-radius: 0 16px 0 0;
}

.input-box-wrapper {
  width: 100%;
}

.input-box-wrapper_log {
  margin-bottom: 0px;
  margin-bottom: 15px;
}

.input-box {
  width: 100%;
  position: relative;
  padding: 0px 18% 20px;
}

.input-box input {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 1%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  -o-border-image: initial;
  border-image: initial;
  outline: none;
  font: 500 1rem Manrope, sans-serif;
  border-bottom: 1px solid rgb(199, 207, 207);
  transition: 0.2s;
}

.input-box input:hover {
  border-bottom: 1px solid var(--border-tabs);
}

.input-box input:focus {
  border-bottom: 1px solid var(--main-color-s);
}

/* SEND MODAL WINDOW CODE */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.modal-window_code {
  padding: 60px 20px;
}

/* CHANGE PASSWORD */
.input-box_change {
  padding: 0px 7% 20px;
}

/* SECOND MENU */
.tabs_sec-menu {
  justify-content: space-between;
}

.tab-nav_sec-menu_r {
  margin-right: 20px;
}

.tabs_sec-menu a {
  padding: 5px 12px;
}

.tabs_sec-menu a.active {
  border-bottom: 2px solid #000;
}

/* TABS SECTION */
.section_tabs {
  padding-top: 100px;
}

/* PAGE PLACE */
.container_place {
  justify-content: space-between;
}

.place__content {
  width: 65%;
}

.place__content,
.place__header {
  justify-content: space-between;
}

.place__header {
  position: relative;
}

.place__name,
.route__name {
  margin-right: 20px;
}

.user-actions_red {
  background: #0000;
}

.user-actions_red img {
  width: 25px;
  height: 25px;
  object-fit: cover;
}

.info {
  padding: 15px 0;
  border-bottom: 1px solid var(--separator);
  border-top: 1px solid var(--separator);
}

.place__input_active {
  padding: 5px 8px;
  border: 1px solid #cbcbcb;
  border-radius: 4px;
  margin-right: 20px;
}

.place__info-block {
  margin-bottom: 5px;
}

.place__info-block_sep {
  margin-bottom: 23px;
  padding-bottom: 23px;
  border-bottom: 1.7px solid var(--separator);
}

.place__info-prew {
  margin-right: 5px;
  color: #918f8f;
}

.place__coord {
  color: var(--second-color-3);
  font-size: 0.9375rem;
}

.place__img {
  width: 100%;
  height: 230px;
  margin-bottom: 20px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
}

/* ROUTE PAGE */
.route__place-block {
  margin-bottom: 50px;
}

.route__images {
  flex-wrap: wrap;
}

.route__img {
  width: 30%;
  height: 220px;
  object-fit: cover;
  margin-right: 20px;
  border-radius: 8px;
  cursor: pointer;
}

.route__img:last-child {
  margin-right: 0px;
}

/* ADD PLACE PAGE */
.input-box_add {
  padding: 0 50% 20px 0;
}

.input-box_add_short input {
  width: 50%;
  margin-right: auto;
}

.input-descr {
  width: 100%;
  height: 200px;
  padding: 5px 10px;
  resize: none;
  outline: none;
}
.form_place {
  margin-bottom: 30px;
}

/* IMAGE SCALE */
#clickonGL {
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  z-index: -1;
  display: flex;
  align-items: center;
}

#imgonGL {
  height: 95vh;
  margin: 0 auto;
}

/* SELECT STYLE */
.select-css {
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  box-sizing: border-box;
  margin: 0 20px 0 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url(../images/icons/arrow-down.png);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}

.select-css::-ms-expand {
  display: none;
}

.select-css:hover {
  border-color: #888;
}

.select-css:focus {
  border-color: #000;
  color: #222;
  outline: none;
}

.select-css option {
  font-weight: normal;
}

*[dir="rtl"] .select-css,
:root:lang(ar) .select-css,
:root:lang(iw) .select-css {
  background-position: left 0.7em top 50%, 0 0;
  padding: 0.6em 0.8em 0.5em 1.4em;
}

/* IMAGE UPLOAD STYLE */
.prew-icon {
  font-size: 40px;
}

.label-load {
  width: 250px;
  height: 150px;
  border-radius: 8px;
  border: 2px dashed grey;
  padding: 20px;
  text-align: center;
  transition: 0.2s;
  line-height: 1.5;
  cursor: pointer;
}

.label-load input {
  display: none;
}

.label-load span,
.label-load i {
  color: grey;
  transition: 200ms color;
  margin-bottom: 10px;
}

.label-load:hover {
  border: 2px solid #000;
}

.label-load:hover span,
.label-load:hover i {
  color: #000;
}

/* .upload-img__container{

} */

.upload-img__container {
  list-style: none;
  padding: 0;
}

.upload-img__container .item {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  position: relative;
}

.upload-img__container .item .img-wrap img {
  object-fit: cover;
  width: 250px;
  height: 150px;
}

.upload-img__container .item .delete-link {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  filter: contrast(0.5);
}

.upload-img__container .item .img-wrap1 img {
  object-fit: cover;
  width: 250px;
  height: 150px;
}

.upload-img__container .item .img-wrap2 img {
  object-fit: cover;
  width: 250px;
  height: 150px;
}

.upload-img__container .item .img-wrap3 img {
  object-fit: cover;
  width: 250px;
  height: 150px;
}

.delete-link img {
  width: 15px;
  height: 15px;
  background: transparent;
}

/* SLIDER */
.swiper {
  width: 100%;
  height: 600px;
}

.place__images {
  height: 600px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 600px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-prev,
.swiper-button-next {
  color: #ffffffbd;
}

.swiper-horizontal > .swiper-pagination-bullets {
  bottom: 30px;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: var(--second-color-3);
}

/* CHECKBOX STYLE */
.checkbox-input {
  margin-bottom: 5px;
}
/* для элемента input c type="checkbox" */
.custom-checkbox > input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* для элемента label, связанного с .custom-checkbox */
.custom-checkbox > span {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

/* создание в label псевдоэлемента before со следующими стилями */
.custom-checkbox > span::before {
  content: "";
  display: flex;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

/* стили при наведении курсора на checkbox */
.custom-checkbox > input:not(:disabled):not(:checked) + span:hover::before {
  border-color: var(--border-tabs);
  background-color: var(--separator);
}

/* стили для активного чекбокса (при нажатии на него) */
.custom-checkbox > input:not(:disabled):active + span::before {
  background-color: var(--second-color-3);
  border-color: var(--second-color-3);
}

/* стили для чекбокса, находящегося в состоянии checked */
.custom-checkbox > input:checked + span::before {
  border-color: var(--main-color-t);
  background-color: var(--main-color-t);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.tooltip__marker,
.tooltip__marker path {
  stroke: var(--main-color-s);
}

.route_map iframe {
  width: 100%;
  margin-bottom: 30px;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--main-color-s);
  height: 20px;
}

::-webkit-scrollbar-track {
  border-width: 0;
  background: var(--main-color-f);
  border: 4px solid transparent;
  background-clip: content-box;
}
/* endscrollbar */

/* ADAPTIVE <1280 */
@media (max-width: 1280px) {
  .container {
    max-width: 1200px;
    padding: 0 50px;
  }

  .input-search {
    border: 1px solid var(--separator);
  }

  .tabs_sec-menu a.active {
    border-bottom: 2.5px solid #000;
  }

  .input-search,
  .btn-search {
    height: 33px;
  }

  .card__descr {
    -webkit-line-clamp: 3;
    height: 45px;
    margin-bottom: 20px;
  }

  .place__content {
    width: 100%;
  }
}

/* ADAPTIVE <1024 */
@media (max-width: 1024px) {
  .container {
    padding: 0 50px;
  }

  .card {
    width: 48%;
    margin: 0 4% 30px 0;
  }

  .card:nth-child(2n) {
    margin-right: 0px;
  }

  .card__img {
    height: 260px;
  }

  .btn {
    font-size: 1.025rem;
  }

  .menu__link {
    transition: background-size 0s;
  }

  .btn_add-place {
    color: var(--main-color-f);
    background: var(--main-color-s);
  }

  .btn_cancel {
    background: var(--back-modal);
    color: var(--main-color-s);
  }

  .btn_more {
    width: auto;
    padding: 12px 90px;
  }

  .drop-menu {
    right: 0;
  }

  .modal-window {
    width: 60%;
    padding: 80px 80px 60px 80px;
  }
}

/* ADAPTIVE <768 */
@media (max-width: 768px) {
  .container {
    padding: 0 20px;
  }

  .swap-search {
    margin: 0 15px 15px 0;
  }

  .swap-search:nth-last-child(2) {
    margin-bottom: 30px;
  }

  .modal-window {
    width: 70%;
    padding: 80px 80px 60px 80px;
  }

  .card__img {
    height: 180px;
  }

  .route__img {
    width: 100%;
    margin: 0 0 15px 0;
    height: 350px;
  }

  .btn_more {
    width: 100%;
    padding: 9px 20px;
  }

  .input-box_add {
    padding: 0 20% 20px 0;
  }
}

/* ADAPTIVE <520 */
@media (max-width: 520px) {
  .card {
    width: 100%;
    margin: 0 0 30px 0;
  }

  .card:nth-child(n) {
    margin-right: 0px;
  }

  .card__img {
    height: 180px;
  }

  .modal-window {
    width: 95%;
    padding: 45px 20px 20px 20px;
  }

  .btn-block {
    width: 80%;
  }

  .input-box_add {
    padding: 0 0 20px 0;
  }

  .input-box_add_short {
    flex-direction: column;
  }

  .upload-img__container .item {
    margin-right: 0px;
    width: 100%;
  }

  .upload-img__container .item .img-wrap img {
    width: 100%;
    height: auto;
  }

  .input-box_add_short input {
    margin-bottom: 10px;
  }

  .place__info-prew {
    margin-bottom: 5px;
  }

  .uploadImagesList .item {
    margin-right: 0;
    width: 100%;
  }

  #imgonGL {
    width: 90%;
    height: auto;
    object-fit: cover;
  }
}
